textarea {
    min-height: 400px;
}
.email{
display:flex;
font-size:12px;
}
.email>.subject{
    width: 300px;
    border: 1px;
    border-style: solid;
}
.email>.sender{
    width: 100px;
    border: 1px;
    border-style: solid;
}
.email>.timestamp{
    width: 100px;
    border: 1px;
    border-style: solid;
}
.singleEmail{
    font-size:12px;   
    width: auto;
}
.singleEmail>.singleEmailTextArea{
    width: 100%;
}